/* LAYOUT CONTACTO */

.contacto {
    width: auto;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapa__title {
    margin: 20px;
    text-align: center;
}

